language: go

go:
  - master

dist: xenial

addons:
  snaps:
  - hugo --channel=extended

install:
  - npm install -g typescript

script:
  - cd src
  - tsc 
  - hugo -s hugo -d public --config config.toml -t ""

deploy:
  local_dir: src/hugo/public
  repo: natplagman/natplagman.github.io 
  target_branch: master
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  email: natplagman@gmail.com
  name: "Natalie Plagman"
  on:
    branch: master

notifications:
  email:
    on-success: always
    on_failure: change