<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en"  }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  {%- include splash.html -%}

  <noscript>
    <span class="noscript">
      Hi! My site requires JavaScript for some fancy shmancy animations and games.
      Please enable it to get the full experience.
      Thanks!
    </span>
  </noscript>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}
  {%- asset bundle--main -%}

</body>

</html>