@import "syntax";
@import "variables";

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, .highlight {
  margin-bottom: 15px;
}

body {
  background-color: $light-background-color;
  color: $light-text-color;
  font-weight: $light-font-weight;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-background-color;
    color: $dark-text-color;
    font-weight: $dark-font-weight;
  }
  &.light {
    background-color: $light-background-color;
    color: $light-text-color;
    font-weight: $light-font-weight;
  }
  &.dark {
    background-color: $dark-background-color;
    color: $dark-text-color;
    font-weight: $dark-font-weight;
  }
  font-size: 16px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $light-font-weight;
  @media (prefers-color-scheme: dark) {
    font-weight: $dark-font-weight;
  }
  &.light {
    font-weight: $light-font-weight;
  }
  &.dark {
    font-weight: $dark-font-weight;
  }
}

table td {
  border-color: transparent;
}

a, button {
  border: none;
  background-color: inherit;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  text-decoration: underline;
  color: $light-link-color;
  @media (prefers-color-scheme: dark) {
    color: $dark-link-color;
  }
  &.light {
    color: $light-link-color;
  }
  &.dark {
    color: $dark-link-color;
  }

  &:visited {
    color: $light-link-visited-color;
    @media (prefers-color-scheme: dark) {
      color: $dark-link-visited-color;
    }
    &.light {
      color: $light-link-visited-color;
    }
    &.dark {
      color: $dark-link-visited-color;
    }
  }

  &:hover {
    color: $dark-text-color;
    background-color: $light-primary-color;
    @media (prefers-color-scheme: dark) {
      color: $light-text-color;
      background-color: $dark-primary-color;
    }
    &.light {
      color: $dark-text-color;
      background-color: $light-primary-color;
    }
    &.dark {
      color: $light-text-color;
      background-color: $dark-primary-color;
    }
    text-decoration: none;
  }

  &:hover.page-link {
    text-decoration: none;
    cursor: pointer;
  }
}

.svg-icon {
  max-width: 16px;
  max-height: 16px;
  fill: $light-text-color;
  @media (prefers-color-scheme: dark) {
    fill: $dark-text-color;
  }
  &.light {
    fill: $light-text-color;
  }
  &.dark {
    fill: $dark-text-color;
  }
  vertical-align: text-top;
}

.cohost-icon {
  background-color: #fff;
  border-radius: 4px;
}

.wrapper {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 1000px;
  flex-grow: 1;
}

.page-content {
  max-width: 1000px;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-grow: 1;
  width: 100%;
}

.site-header {
  border-top: none;
  width: 100%;
  background-color: $light-background-color;
  border-bottom: 1px solid $light-text-color;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-background-color;
    border-bottom-color: $dark-text-color;
  }
  &.light {
    background-color: $light-background-color;
    border-bottom-color: $light-text-color;
  }
  &.dark {
    background-color: $dark-background-color;
    border-bottom-color: $dark-text-color;
  }
  display: flex;
  justify-content: center;

  > .wrapper {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  .page-link {
    z-index: 999;
  }

  .site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
  }

  .page-link, .site-title {
    padding-left: .2em;
    padding-right: .2em;
    color: $light-text-color;
    @media (prefers-color-scheme: dark) {
      color: $dark-text-color;
    }
    &.light {
      color: $light-text-color;
    }
    &.dark {
      color: $dark-text-color;
    }
    text-decoration: none;

    &:hover {
      color: $dark-text-color;
      @media (prefers-color-scheme: dark) {
        color: $light-text-color;
      }
      &.light {
        color: $dark-text-color;
      }
      &.dark {
        color: $light-text-color;
      }
      text-decoration: none;
    }
  }

  .site-nav {
    align-items: center;
    background-color: $light-background-color;
    border-color: $light-text-color;
    color: $light-text-color;
    @media (prefers-color-scheme: dark) {
      background-color: $dark-background-color;
      border-color: $dark-text-color;
      color: $dark-text-color;
    }
    &.light {
      background-color: $light-background-color;
      border-color: $light-text-color;
      color: $light-text-color;
    }
    &.dark {
      background-color: $dark-background-color;
      border-color: $dark-text-color;
      color: $dark-text-color;
    }

    .nav-checkbox {
      margin: 0px;
      padding-top: 35px;
      padding-left: 38px;
      position: absolute;
      cursor: pointer;
      appearance: none;
      display: none;
    }

    .nav-popout {
      display: flex;
      align-items: center;
    }

    .page-link {
      line-height: 54px;
      padding: 0px 10px;
    }
  }

  .nav-icon {
    display: none;
    background-color: $light-background-color;
    @media (prefers-color-scheme: dark) {
      background-color: $dark-background-color;
    }
    &.light {
      background-color: $light-background-color;
    }
    &.dark {
      background-color: $dark-background-color;
    }

    fill: $light-text-color;
    @media (prefers-color-scheme: dark) {
      fill: $dark-text-color;
    }
    &.light {
      fill: $light-text-color;
    }
    &.dark {
      fill: $dark-text-color;
    }
  }
}

#theme-toggle {
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .site-header {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      border: 1px solid;
      border-radius: 5px;
      display: flex;
      flex-flow: column;
      align-items: flex-end;

      .nav-checkbox {
        display: inline;
      }

      .nav-icon {
        display: inline;
        padding: 10px 10px;
        line-height: 0;
      }

      .nav-popout {
        display: none;
      }

      .nav-checkbox:checked ~ .nav-popout {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-bottom: 5px;
        text-align: center;
      }

      .page-link {
        padding: 0 10px;
      }
    }
  }
}

#home-description {
  font-size: 1.5em;
  list-style-type: none;
}

.project-card {
  display: flex;
  flex-flow: row-reverse nowrap;

  margin-bottom: 2em;
  color: $light-text-color;
  background-color: $light-secondary-color;
  @media (prefers-color-scheme: dark) {
    color: $dark-text-color;
    background-color: $dark-secondary-color;
  }
  &.light {
    color: $light-text-color;
    background-color: $light-secondary-color;
  }
  &.dark {
    color: $dark-text-color;
    background-color: $dark-secondary-color;
  }

  border-radius: 4px;
  box-shadow: 15px 15px $light-primary-color;
  @media (prefers-color-scheme: dark) {
    box-shadow: 15px 15px $dark-tertiary-color;
  }
  &.light {
    box-shadow: 15px 15px $light-primary-color;
  }
  &.dark {
    box-shadow: 15px 15px $dark-tertiary-color;
  }
  transition: all 0.3s ease;

  .project-screenshot {
    flex: 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #000000;
    max-height: 400px;
    img {
      height: 100%;
    }
  }

  .project-content {
    padding: 1em;
    flex: 2;
    transition: all .5s ease;

    .project-title {
      font-family: inherit;
    }

    .project-tags {
      display: flex;
      flex-wrap: wrap;
      
      .project-tag {
        border-radius: 4px;
        border: 1px solid $light-link-visited-color;
        @media (prefers-color-scheme: dark) {
          border-color: $dark-primary-color;
        }
        &.light {
          border: 1px solid $light-link-visited-color;
        }
        &.dark {
          border-color: $dark-primary-color;
        }
        padding: 3px 6px;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: .85em;
      }
    }

    .project-links {
      display: flex;
      justify-content: flex-start;
      margin-top: 5px;
      
      .project-link {
        margin: 5px 10px 0 0;
        white-space: nowrap;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 8px;
        box-shadow: 0 1px 3px $light-primary-color;
        @media (prefers-color-scheme: dark) {
          box-shadow: none;
        }
        &.light {
          box-shadow: 0 1px 3px $light-primary-color;
        }
        &.dark {
          box-shadow: none;
        }
        border-radius: 4px;
        letter-spacing: .025em;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .15s ease;
        font-size: .9em;
        font-weight: 600;
        border: 1px solid;
        color: $light-text-color;
        border-color: $light-text-color;
        background: $light-project-link-color;
        @media (prefers-color-scheme: dark) {
          color: $dark-text-color;
          border-color: $dark-primary-color;
          background: $dark-project-link-color;
        }
        &.light {
          color: $light-text-color;
          border-color: $light-text-color;
          background: $light-project-link-color;
        }
        &.dark {
          color: $dark-text-color;
          border-color: $dark-primary-color;
          background: $dark-project-link-color;
        }

        &:hover {
          color: $dark-text-color;
          background: $light-primary-color;
          @media (prefers-color-scheme: dark) {
            color: $dark-text-color;
            background: $dark-tertiary-color;
          }
          &.light {
            color: $dark-text-color;
            background: $light-primary-color;
          }
          &.dark {
            color: $dark-text-color;
            background: $dark-tertiary-color;
          }
        }
      }
    }
  }

  &.wip {
    background-color: $light-wip-color;
    @media (prefers-color-scheme: dark) {
      background-color: $dark-wip-color;
    }
    &.light {
      background-color: $light-wip-color;
    }
    &.dark {
      background-color: $dark-wip-color;
    }

    .project-content .project-link {
      background-color: $light-project-link-wip-color;
      @media (prefers-color-scheme: dark) {
        background-color: $dark-project-link-wip-color;
      }
      &.light {
        background-color: $light-project-link-wip-color;
      }
      &.dark {
        background-color: $dark-project-link-wip-color;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .project-card {
    flex-flow: column wrap;
    .project-screenshot {
      img {
        width: 100%;
      }
    }
  }
}

ul.pager {
  text-align: center;
  list-style: none;
  
  li {
    display: inline;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
  }
}

.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-link-header {
  margin-bottom: 0
}

.post-meta {
  font-size: 14px;
  color: $light-text-color;
  @media (prefers-color-scheme: dark) {
    color: $dark-text-color;
  }
  &.light {
    color: $light-text-color;
  }
  &.dark {
    color: $dark-text-color;
  }
}

.table-of-contents {
  padding: 0.25em 0.5em;
  margin-bottom: 1em;
  background-color: $light-primary-color;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-tertiary-color;
  }
  &.light {
    background-color: $light-primary-color;
  }
  &.dark {
    background-color: $dark-tertiary-color;
  }

  li {
    list-style-type: none;
  }
}

.post-content li {
  list-style-type: inherit;
  margin-left: 1em;
}

.update {
  padding: 1em;
  border-radius: 1em;
  background-color: $light-secondary-color;
  color: $light-text-color;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-primary-color;
    color: $light-text-color;
  }
  &.light {
    background-color: $light-secondary-color;
    color: $light-text-color;
  }
  &.dark {
    background-color: $dark-primary-color;
    color: $light-text-color;
  }
}

.post-list {
  > li {
    border-left: 0.4em solid transparent;
    padding-left: 0.4em;
    transition: border-color .2s ease-in-out;
    list-style-type: none;

    &:hover {
      border-color: $light-primary-color;
      @media (prefers-color-scheme: dark) {
        border-color: $dark-primary-color;
      }
      &.light {
        border-color: $light-primary-color;
      }
      &.dark {
        border-color: $dark-primary-color;
      }
    }

    a {
      color: inherit;
      text-decoration: none;

      // Since we don't change the background color on hover, we need to override the hover/visited colors above for "a, button"
      &:hover {
        color: inherit;
        &:visited {
          &.light {
              color: $light-link-visited-color;
            }
            &.dark {
              color: $dark-link-visited-color;
            }
        }
        background-color: inherit;
      }
    }

    .post-link-header {
      text-decoration: underline;
      color: $light-primary-color;
      @media (prefers-color-scheme: dark) {
        color: $dark-primary-color;
      }
      &.light {
        color: $light-primary-color;
      }
      &.dark {
        color: $dark-primary-color;
      }
    }
  }
}

.post-list-heading {
  font-size: 28px;
}

.site-footer {
  width: 100%;
  border-top-color: $light-text-color;
  @media (prefers-color-scheme: dark) {
    border-top-color: $dark-text-color;
  }
  &.light {
    border-top-color: $light-text-color;
  }
  &.dark {
    border-top-color: $dark-text-color;
  }
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  .social-item {
    white-space: nowrap;
  }
}

.footer-heading {
  font-size: 18px;
}

.footer-main {
  color: $light-text-color;
  @media (prefers-color-scheme: dark) {
    color: $dark-text-color;
  }
  &.light {
    color: $light-text-color;
  }
  &.dark {
    color: $dark-text-color;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.footer-col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-col:not(:first-child) {
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

canvas {
  background-color: #000000;
}

.highlight {
  position: relative;
  pre {
    overflow-x: auto;
    padding: 2px 4px;
    border-radius: 5px;
  }

  .copy-button {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 5px;
  }
}

.skip-to-main {
  position: absolute;
  left: -10000px;
  top: 15px;

  &:focus {
    left: inherit;
  }
}

// Scrollbar tricks
// Firefox
* {
  scrollbar-width: auto;
  scrollbar-color: $light-primary-color $light-tertiary-color;
  @media (prefers-color-scheme: dark) {
    scrollbar-color: $dark-primary-color $dark-tertiary-color;
  }
  &.light {
    scrollbar-color: $light-primary-color $light-tertiary-color;
  }
  &.dark {
    scrollbar-color: $dark-primary-color $dark-tertiary-color;
  }
}

// Chrome, Edge, and Safari
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $light-tertiary-color;
  @media (prefers-color-scheme: dark) {
    background: $dark-tertiary-color;
  }
  &.light {
    background: $light-tertiary-color;
  }
  &.dark {
    background: $dark-tertiary-color;
  }
}

*::-webkit-scrollbar-thumb {
  background-color: $light-primary-color;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-primary-color;
  }
  &.light {
    background-color: $light-primary-color;
  }
  &.dark {
    background-color: $dark-primary-color;
  }
  border-radius: 10px;
  border: 1px none #ffffff;
}