$bg: #f0f0f0;
$text-color: #222;
$link-color: rgb(0, 69, 133);
$link-hover-color: rgb(53, 64, 94);
$link-visited-color: rgb(71, 92, 185);
$brand-color: #5e1f6b;
$border-color: #222;
$footer-border-color: rgb(34, 34, 34);
$menu-icon-fill: #222;
$post-hover-side-color: $brand-color;
$post-meta-color: #383838;
$footer-text: #444;
$card-color: rgb(231, 188, 228);
$card-tag-border: #333;
$update-bg: #ffcfaf;
$update-text-color: $text-color;
$svg-icon-fill-color: #828282;
$project-card-text-color: #222;
$project-card-bg: #222;
$project-card-shadow-color: rgb(112, 59, 110);
$project-card-link-color: $brand-color;
$skillname-color: #333;
$skillbar-bg: #bbb;
$font-weight: 400;

$dark-bg: #1e1e1e;
$dark-text-color: rgb(228, 228, 228);
$dark-link-color: rgb(99, 163, 223);
$dark-link-hover-color: rgb(209, 125, 164);
$dark-link-visited-color: rgb(196, 124, 211);
$dark-brand-color: #ec9ad5;
$dark-border-color: rgb(233, 233, 233);
$dark-footer-border-color: rgb(209, 209, 209);
$dark-menu-icon-fill: rgb(226, 226, 226);
$dark-post-hover-side-color: $dark-brand-color;
$dark-post-meta-color: #cecece;
$dark-footer-text: rgb(194, 194, 194);
$dark-card-color: rgb(224, 162, 220);
$dark-card-tag-border: rgb(192, 143, 199);
$dark-update-bg: $dark-brand-color;
$dark-update-text-color: #222;
$dark-svg-icon-fill-color: #d4d4d4;
$dark-project-card-text-color: $text-color;
$dark-project-card-bg: rgb(133, 52, 126);
$dark-project-card-shadow-color: rgb(66, 12, 63);
$dark-project-card-link-color: $dark-project-card-text-color;
$dark-skillname-color: rgb(230, 230, 230);
$dark-skillbar-bg: #333;
$dark-font-weight: 350;

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 15px;
}

body {
  background-color: $bg;
  color: $text-color;
  font-weight: $font-weight;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-bg;
    color: $dark-text-color;
    font-weight: $dark-font-weight;
  }
  font-size: 16px;
  line-height: 1.5;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight;
  @media (prefers-color-scheme: dark) {
    font-weight: $dark-font-weight;
  }
}

table td {
  border-color: transparent;
}

pre, code {
  padding: 2px 4px;
  overflow-x: auto;
  vertical-align: middle;
  border-radius: 5px;
  
  > code {
    padding: 2px 0px;
    background-color: inherit;
    box-shadow: none;
  }
}

a {
  color: $link-color;
  @media (prefers-color-scheme: dark) {
    color: $dark-link-color;
  }
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
    @media (prefers-color-scheme: dark) {
      color: $dark-link-visited-color;
    }
  }

  &:hover {
    color: $link-hover-color;
    @media (prefers-color-scheme: dark) {
      color: $dark-link-hover-color;
    }
    text-decoration: underline;
  }

  &:hover.page-link {
    text-decoration: none;
    cursor: pointer;
  }
}

li {
  list-style-type: none;
}

.svg-icon {
  max-width: 16px;
  max-height: 16px;
  fill: $svg-icon-fill-color;
  @media (prefers-color-scheme: dark) {
    fill: $svg-icon-fill-color;
  }
  vertical-align: text-top;
}

.wrapper {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 1000px;
  flex-grow: 1;
}

.page-content {
  max-width: 1000px;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-grow: 1;
  width: 100%;
}

.site-header {
  border-top: none;
  width: 100%;
  background-color: $bg;
  border-bottom: 1px solid $border-color;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-bg;
    border-bottom-color: $dark-border-color;
  }
  display: flex;
  justify-content: center;

  > .wrapper {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  .page-link {
    z-index: 999;
  }

  .site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
  }

  .page-link, .site-title {
    color :$text-color;
    @media (prefers-color-scheme: dark) {
      color: $dark-text-color;
    }

    &:hover {
      color: $brand-color;
      @media (prefers-color-scheme: dark) {
        color: $dark-brand-color;
      }
      text-decoration: none;
    }
  }

  .site-nav {
    background-color: $bg;
    border-color: $border-color;
    color: $text-color;
    @media (prefers-color-scheme: dark) {
      background-color: $dark-bg;
      border-color: $dark-border-color;
      color: $dark-text-color;
    }
    line-height: 54px;

    .nav-trigger {
      display: none;
    }

    .page-link:not(:last-child) {
      margin-right: 20px;
    }
  }

  .menu-icon {
    display: none;
    background-color: $bg;
    @media (prefers-color-scheme: dark) {
      background-color: $dark-bg;
    }

    > svg {
      fill: $menu-icon-fill;
      @media (prefers-color-scheme: dark) {
        fill-color: $dark-menu-icon-fill;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-style: groove;
    
    label[for="nav-trigger"] {
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      float: right;
      display: block;
      padding: 10px 10px;
      line-height: 0;
    }

    input ~ .trigger {
      display: none;
      clear: both;
    }

    :checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 0 10px;
    }
  }
}

.noscript {
  display: block;
  width: 100%;
  text-align: center;
}

#home-description {
  font-size: 1.5em;
  text-align: center;
}

.project-card {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 2em;
  color: $project-card-text-color;
  background-color: $project-card-bg;
  @media (prefers-color-scheme: dark) {
    color: $dark-project-card-text-color;
    background-color: $dark-project-card-bg;
  }
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1), 15px 15px $project-card-shadow-color;
  @media (prefers-color-scheme: dark) {
    box-shadow: 0 5px 15px rgba(0,0,0,.1), 15px 15px $dark-project-card-shadow-color;
  }
  overflow: hidden;
  transition: all 0.3s ease;

  .project-screenshot {
    width: 60%;
  }

  .project-content {
    background-color: $card-color;
    @media (prefers-color-scheme: dark) {
      background-color: $dark-card-color;
    }
    padding: 2em;
    width: 40%;
    transition: all .5s ease;

    .project-title {
      font-family: inherit;
    }

    .project-tags {
      display: flex;
      flex-wrap: wrap;
      
      .project-tag {
        border-radius: 4px;
        border: 2px solid $card-tag-border;
        padding: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: .85em;
      }
    }

    .project-links {
      display: flex;
      justify-content: flex-start;
      margin-top: 20px;
      
      .project-link {
        margin: 10px 20px 0 0;
        white-space: nowrap;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 14px;
        box-shadow: 0 4px 6px rgba(63, 3, 78, 0.11),0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        letter-spacing: .025em;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .15s ease;
        font-family: Dosis, sans-serif;
        font-size: .9em;
        font-weight: 600;
        color: $project-card-link-color;
        border: 2px solid $project-card-link-color;
        background: $card-color;
        @media (prefers-color-scheme: dark) {
          color: $dark-project-card-link-color;
          border-color: $dark-project-card-link-color;
          background: $dark-card-color;
        }

        &:hover {
            color: $card-color;
            background: $project-card-link-color;
            @media (prefers-color-scheme: dark) {
              color: $dark-card-color;
              background: $dark-project-card-link-color;
            }
        }
      }
    }
  }
}

.skills {
  padding: 0.25em 1em;

  > h2 {
    text-align: center;
  }

  .skillname {
    margin-bottom: 0.25em;
    font-weight: 500;
    color: $skillname-color;
    @media (prefers-color-scheme: dark) {
      color: $dark-skillname-color;
    }
  }

  .skillbar {
    background-color: $skillbar-bg;
    margin-bottom: 1em;
    @media (prefers-color-scheme: dark) {
      background-color: $dark-skillbar-bg;
    }

    > .skillbar-filled {
      background-color: $brand-color;
      padding: 0.4em 0.5em;
      @media (prefers-color-scheme: dark) {
        background-color: $dark-brand-color;
      }
    }
  }
}

ul.pager {
  text-align: center;
  list-style: none;
  
  li {
    display: inline;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
  }
}

.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-link-header {
  margin-bottom: 0
}

.post-meta {
  font-size: 14px;
  color: $post-meta-color;
  @media (prefers-color-scheme: dark) {
    color: $dark-post-meta-color;
  }
}

.post-content li {
  list-style-type: inherit;
  margin-left: 1em;
}

.update {
  padding: 1em;
  border-radius: 1em;
  background-color: $update-bg;
  color: $update-text-color;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-update-bg;
    color: $dark-update-text-color;
  }
}

.post-list {
  > li {
    border-left: 0.4em solid transparent;
    padding-left: 0.4em;
    transition: border-color .3s ease-in-out;

    &:hover {
      border-color: $post-hover-side-color;
      @media (prefers-color-scheme: dark) {
        border-color: $dark-post-hover-side-color;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .post-link-header {
      color: $brand-color;
      @media (prefers-color-scheme: dark) {
        color: $dark-brand-color;
      }
    }
  }
}

.post-list-heading {
  font-size: 28px;
}

.site-footer {
  width: 100%;
  border-top-color: $border-color;
  border-top-color: $footer-border-color;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  @media (prefers-color-scheme: dark) {
    border-top-color: $dark-border-color;
    border-top-color: $dark-footer-border-color;
  }

  ul {
    padding-left: 0;
  }
}

.footer-heading {
  font-size: 18px;
}

.footer-main {
  color: $footer-text;
  @media (prefers-color-scheme: dark) {
    color: $dark-footer-text;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.footer-col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-col:not(:first-child) {
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

canvas {
  background-color: #000000;
}