$bg: #f0f0f0;
$text-color: #222;
$link-hover-color: rgb(53, 64, 94);
$brand-color: #2a2180;
$link-color: rgb(0, 69, 133);
$border-color: #222;
$menu-icon-fill: #222;
$post-hover-side-color: $brand-color;
$footer-text: #444;
$card-color: rgb(188, 203, 231);
$card-tag-border: #333;

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 15px;
}

body {
  background-color: $bg;
  color: $text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

table td {
  border-color: transparent;
}

pre, code {
  padding: 2px 4px;
  overflow-x: auto;
  vertical-align: middle;
  border-radius: 5px;
  
  > code {
    padding: 2px 0px;
    background-color: inherit;
    box-shadow: none;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: rgb(71, 92, 185);
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:hover.page-link {
    text-decoration: none;
    cursor: pointer;
  }
}

li {
  list-style-type: none;
}

.svg-icon {
  max-width: 16px;
  max-height: 16px;
  fill: #828282;
  vertical-align: text-top;
}

.wrapper {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 1000px;
  flex-grow: 1;
}

.page-content {
  max-width: 1000px;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-grow: 1;
  width: 100%;
}

.site-header {
  border-top: none;
  width: 100%;
  background-color: $bg;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: center;

  > .wrapper {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  .page-link {
    z-index: 999;
  }

  .site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
  }

  .page-link, .site-title {
    color :$text-color;

    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
  }

  .site-nav {
    background-color: $bg;
    border-color: $border-color;
    color: $text-color;
    line-height: 54px;

    .nav-trigger {
      display: none;
    }

    .page-link:not(:last-child) {
      margin-right: 20px;
    }
  }

  .menu-icon {
    display: none;
    background-color: $bg;

    > svg {
      fill: $menu-icon-fill;
    }
  }
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-style: groove;
    
    label[for="nav-trigger"] {
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      float: right;
      display: block;
      padding: 10px 10px;
      line-height: 0;
    }

    input ~ .trigger {
      display: none;
      clear: both;
    }

    :checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 0 10px;
    }
  }
}

.noscript {
  display: block;
  width: 100%;
  text-align: center;
}

#home-description {
  font-size: 1.5em;
  text-align: center;
}

.project-card {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 2em;
  color: #111;
  background-color: #222;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1), 15px 15px rgb(7, 24, 71);
  overflow: hidden;
  transition: all 0.3s ease;

  .project-screenshot {
    width: 60%;
  }

  .project-content {
    background-color: $card-color;
    padding: 2em;
    width: 40%;
    transition: all .5s ease;

    .project-title {
      font-family: inherit;
    }

    .project-tags {
      display: flex;
      flex-wrap: wrap;
      
      .project-tag {
        border-radius: 4px;
        border: 2px solid $card-tag-border;
        padding: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: .85em;
      }
    }

    .project-links {
      display: flex;
      justify-content: flex-start;
      margin-top: 20px;
      
      .project-link {
        margin: 10px 20px 0 0;
        white-space: nowrap;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 14px;
        box-shadow: 0 4px 6px rgba(63, 3, 78, 0.11),0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        letter-spacing: .025em;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .15s ease;
        font-family: Dosis, sans-serif;
        font-size: .9em;
        font-weight: 600;
        color: $brand-color;
        border: 2px solid $brand-color;
        background: $card-color;

        &:hover {
            color: $card-color;
            background: $brand-color;
        }
      }
    }
  }
}

.skills {
  padding: 0.25em 1em;

  > h2 {
    text-align: center;
  }

  .skillname {
    margin-bottom: 0.25em;
    font-weight: bold;
    color: #333;
  }

  .skillbar {
    background-color: #bbb;
    margin-bottom: 1em;

    > .skillbar-filled {
      background-color: $brand-color;
      padding: 0.4em 0.5em;
    }
  }
}

ul.pager {
  text-align: center;
  list-style: none;
  
  li {
    display: inline;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
  }
}

.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-link-header {
  margin-bottom: 0
}

.post-meta {
  font-size: 14px;
  color: #383838;
}

.post-content li {
  list-style-type: inherit;
  margin-left: 1em;
}

.post-list {
  > li {
    border-left: 0.4em solid transparent;
    padding-left: 0.4em;
    transition: border-color .3s ease-in-out;

    &:hover {
      border-color: $post-hover-side-color;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .post-link-header {
      color: $brand-color;
    }
  }
}

.post-list-heading {
  font-size: 28px;
}

.site-footer {
  width: 100%;
  border-top-color: $border-color;
  border-top-color: rgb(34, 34, 34);
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

  ul {
    padding-left: 0;
  }
}

.footer-heading {
  font-size: 18px;
}

.footer-main {
  color: $footer-text;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.footer-col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-col:not(:first-child) {
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

canvas {
  background-color: #000000;
}