$light-background-color: #fdfcfd;
$light-text-color: #000000;
$light-font-weight: 400;
$light-primary-color: #5e1f6b;
$light-secondary-color: #e7bce4;
$light-tertiary-color: #d8c8d5;
$light-wip-color: #ce96b5;
$light-link-color: $light-primary-color;
$light-link-visited-color: #6b3e74;
$light-project-link-color: #b969c7;
$light-project-link-wip-color: #c769a3;
$light-skillbar-color: $light-primary-color;
$light-code-color: #0f61ad;
$light-code-background-color: #eeeeee;
$light-update-background-color: $light-secondary-color;
$light-note-background-color: $light-wip-color;

$dark-background-color: #1a131a;
$dark-text-color: #ffffff;
$dark-font-weight: 350;
$dark-primary-color: #d17fcc;
$dark-secondary-color: #3b1942;
$dark-tertiary-color: #29182e;
$dark-wip-color: #5e1051;
$dark-link-color: $dark-primary-color;
$dark-link-visited-color: #b1a5b0;
$dark-shadow-blur-color: #0000001a;
$dark-project-link-color: #6c2f86;
$dark-project-link-wip-color: #862f86;
$dark-skillbar-color: #693166;
$dark-code-color: #f8f8f2;
$dark-code-background-color: #282a36;
$dark-update-background-color: $dark-primary-color;
$dark-note-background-color: #9c80c9;