---
---
@import "minima";

$dark-bg: #222;
$dark-bg-text-color: #bbb;
$dark-bg-link-hover-color: #eee;
$brand-color: rgb(61, 140, 204);
$dark-border: #111;
$menu-icon-fill: #ddd;
$splash-arrow-outside-color: #fff;

.site-header {
    background-color: $dark-bg;
    border-bottom-color: $dark-border;

    .page-link, .site-title {
        color :$dark-bg-text-color;
        text-decoration: none;

        &:hover {
            color: $dark-bg-link-hover-color;
        }
    }

    .site-nav {
        background-color: $dark-bg;
        border-color: $dark-border;
        color: $dark-bg-text-color;
    }

    .menu-icon {
        background-color: $dark-bg;

        > svg {
            fill: $menu-icon-fill;
        }
    }
}

.noscript {
    display: block;
    width: 100%;
    text-align: center;
}

#splash {
	position: relative;
	overflow: hidden;
	height: 390px;
	background: $brand-color;
}

#splash_iframe {
	border: none;
    width: 100%;
    height: 400px;
    position: absolute;
}

#splash_title {
	color: #fff;
	text-align: center;
	font-size: 8em;
	line-height: 0.85em;
    margin-top: 0.8em;
	pointer-events: none;
	cursor: default;

	position: relative;
	z-index: 99;
}

#splash_arrow {
	position: absolute;
	bottom:0;
	width:100%;
	height: 50px;
    pointer-events: none;

    > div{
        position: absolute;

        &:nth-child(-n+2) {
            width: 50%;
            height: 100%;
            background: $splash-arrow-outside-color;
        }

        &:nth-child(n+3) {
            width: 0;
            height: 0;
            border-style: solid;
        }

        &:nth-child(1) {
            left: -50px;
        }
        
        &:nth-child(2) {
            right: -50px;
        }

        &:nth-child(3) {
            border-width: 50px 0 0 50px;
            border-color: transparent transparent transparent $splash-arrow-outside-color;
            left: calc(50% - 50px);
        }

        &:nth-child(4) {
            border-width: 0 0 50px 50px;
            border-color: transparent transparent $splash-arrow-outside-color transparent;
            right: calc(50% - 50px);
        }
    }
}

.skills {
    max-width: 500px;
    padding: 0.25em 1em;

    .skillname {
        margin-bottom: 0.25em;
        font-weight: bold;
        color: #555;
    }

    .skillbar {
        background-color: #e2e2e2;
        margin-bottom: 1em;
    
        > .skillbar-filled {
            background-color: $brand-color;
            padding: 0.4em 0.5em;
        }
    }
}

ul.pager {
    text-align: center;
    list-style: none;
    
    li {
        display: inline;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 5px;
    }
}

.post-link-header {
    margin-bottom: 0
}

.post-list {
    > li {
        border-left: 0.4em solid transparent;
        padding-left: 0.4em;
        transition: border-color .3s ease-in-out;

        &:hover {
            border-color: #000;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        .post-link-header {
            color: $brand-color;
        }
    }
}