---
---
@import "minima";

$bg: #222;
$text-color: #ddd;
$link-hover-color: rgb(135, 157, 216);
$brand-color: rgb(73, 90, 187);
$link-color: rgb(0, 132, 255);
$border-color: #111;
$menu-icon-fill: #ddd;
$splash-arrow-outside-color: $bg;
$splash-title-color: #eee;
$splash-background: $brand-color;
$post-hover-side-color: $brand-color;

body {
    background-color: $bg;
    color: $text-color;
}

.highlight {
    background: none;
}

.highlighter-rouge {
    .highlight {
        background: none;
    }
}

table td {
    border-color: transparent;
}

pre, code {
    background-color: #2b2b2b;
    border-color: $border-color;
    color: #fff;
    max-width: 100%;
    overflow-x: auto;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
    
    > code {
        background-color: inherit;
        box-shadow: none;
    }
}

a, .post-link, .page-link {
    color: $link-color;

    &:visited {
        color: rgb(106, 130, 240);
    }

    &:hover {
        color: $link-hover-color;
    }
}

.site-header {
    position: fixed;
    width: 100%;
    background-color: $bg;
    border-bottom-color: $border-color;

    .page-link {
        z-index: 999;
    }

    .page-link, .site-title {
        color :$text-color;
        text-decoration: none;

        &:hover {
            color: $link-hover-color;
            cursor: pointer;
        }
    }

    .site-nav {
        background-color: $bg;
        border-color: $border-color;
        color: $text-color;
    }

    .menu-icon {
        background-color: $bg;

        > svg {
            fill: $menu-icon-fill;
        }
    }
}

main {
    margin-top: 54px;
}

.noscript {
    display: block;
    width: 100%;
    text-align: center;
}

#splash {
	position: relative;
	overflow: hidden;
	height: 230px;
	background: $splash-background;
}

#splash_iframe {
	border: none;
    width: 100%;
    height: 250px;
    position: absolute;
}

#splash-nav {
    float: right;
    height: 0;
    position: relative;
    line-height: 54px;

    a {
        cursor: pointer;
        padding: 0 1em;
        color: $splash-title-color;
        font-size: 1.2em;
    }
}

#splash_title {
	color: $splash-title-color;
	text-align: center;
    font-size: 3.5em;
    font-family: "Dosis", sans-serif;
	line-height: 0.85em;
    margin-top: 0.8em;
	pointer-events: none;
	cursor: default;

	position: relative;
    z-index: 99;
}

#splash_arrow {
	position: absolute;
	bottom:0;
	width:100%;
	height: 50px;
    pointer-events: none;

    > div{
        position: absolute;

        &:nth-child(-n+2) {
            width: 50%;
            height: 100%;
            background: $splash-arrow-outside-color;
        }

        &:nth-child(n+3) {
            width: 0;
            height: 0;
            border-style: solid;
        }

        &:nth-child(1) {
            left: -50px;
        }
        
        &:nth-child(2) {
            right: -50px;
        }

        &:nth-child(3) {
            border-width: 50px 0 0 50px;
            border-color: transparent transparent transparent $splash-arrow-outside-color;
            left: calc(50% - 50px);
        }

        &:nth-child(4) {
            border-width: 0 0 50px 50px;
            border-color: transparent transparent $splash-arrow-outside-color transparent;
            right: calc(50% - 50px);
        }
    }
}

.skills {
    padding: 0.25em 1em;

    > h2 {
        text-align: center;
    }

    .skillname {
        margin-bottom: 0.25em;
        font-weight: bold;
        color: #999;
    }

    .skillbar {
        background-color: #444;
        margin-bottom: 1em;
    
        > .skillbar-filled {
            background-color: $brand-color;
            padding: 0.4em 0.5em;
        }
    }
}

ul.pager {
    text-align: center;
    list-style: none;
    
    li {
        display: inline;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 5px;
    }
}

.post-link-header {
    margin-bottom: 0
}

.post-list {
    > li {
        border-left: 0.4em solid transparent;
        padding-left: 0.4em;
        transition: border-color .3s ease-in-out;

        &:hover {
            border-color: $post-hover-side-color;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        .post-link-header {
            color: $brand-color;
        }
    }
}

.site-footer {
    border-top-color: $border-color;
}