html{
    font-family: "Oxygen", sans-serif;
    text-align: center;
}

body {
    display: block;
    margin: 0;
    background: #1B1B1B;
    
    color: #000;
}

/** HEADER **/

header {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 5px solid #0B0B0B;
    background: #1B1B1B;
    z-index: 99;
}

#menuButton {
    background: #1B1B1B;
    
    color: #FFF;
    text-align: right;
}

#brand:hover {
    color: #0274B3;
}

#mainNav {
    padding: 0;
}

#mainNav li {
    display: block;
    padding: 15px 0;
    background: #1B1B1B;
    
    color: #FFF;
    text-decoration: none;
    
    transition: background-color 0.3s;
}

#mainNav li:hover:not(#brand):not(.ignore), .active {
    background-color: #0274B3;
}

#mainNav li:not(.ignore) {
    cursor: pointer;
}

#mainNav .navLink {
    padding: 0;
}

#mainNav a {
    margin: 0;
    background: transparent;
    
    color: white;
    line-height: 50px;
    text-decoration: none;
}

/** CONTENT **/

#content {
    position: relative;
    display: block;
    margin: 0;
    background: #3B3B3B;
    z-index: 2;
}

section {
    border-bottom: 5px solid #0B0B0B;
}

.lead {
    display: block;
    padding: .25em;
    background: #FFF;
    
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}

.lead p {
    margin: 0;
}

#tagline {
    margin-top: 1em;
    
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
}

#banner {
    display: block;
    margin-top: 1em;
    padding: 5px 0;
    background: #FFF;
    
    font-size: 1.5em;
    text-align: center;
}

#summary {
    width: 100%;
    background: #3B3B3B;
    padding-bottom: .5em;
    
    color: #fff;
    text-align: center;
}

#summary * {
    display: inline-block;
    vertical-align: middle;
}

#self {
    min-width: 160px;
    width: 20%;
    padding: 1em;
    
    text-align: center;
}

#self img {
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 1);
}

#description * {
    display: block;
}

#description h1 {
    margin-top: 0;
    padding-top: 1em;
}

#description p {
    margin: 0 .5em;
}

#skills {
    display: block;
    width: 95%;
    max-width: 800px;
    margin: 1em auto;
    border: 6px solid #2B2B2B;
    padding: 1em;
    background: #303030;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    
    text-align: left;
}

#skills h1 {
    margin: 0;
    padding-bottom: .5em;
    font-weight: normal;
}

.skillBar {
    display: block;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 3px;
    padding: .25em .5em;
    background: #444;
    
    opacity: .7;   
    transition: opacity .5s, background .5s, color .25s;
}

.skillBar:hover {
    opacity: 1;
}

#csharpBar {
    width: 95%;
}
#csharpBar:hover {
    background: #68217A;
}
#javaBar {
    width: 90%;
}
#javaBar:hover {
    background: #E11F21;
}
#cssBar {
    width: 80%;
}
#cssBar:hover {
    background: #F16529;
}
#jsBar {
    width: 80%;
}
#jsBar:hover {
    background: #FDDA3E;
    color: #000;
}
#pyBar {
    width: 75%;
}
#pyBar:hover {
    background: #4482B4;
}

/** PORTFOLIO **/

#portfolio {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em 0;
    background: #E9EAEA;
}

#portfolio h1 {
    margin: 0;
    padding-top: 1em;
}

.galleryItem {
    display: inline-block;
    width: 400px;
    margin-bottom: 1em;
    border-radius: 10px;
    padding: .5em;   
    background: #E9EAEA;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    
    color: #334055;   
    cursor: pointer;
    list-style: none;
    text-align: left;
    
    transition: background .5s, color .25s;
}

.galleryItem img {
    width: 358px;
    height: 88px;
    border: 1px solid #000;
}

.galleryItem span {
    font-weight: bold;
}

.galItemHover {
    background: #3B3B3B;
    color: #FFF;
}

/** FOOTER **/

footer {
    position: relative;
    width: 100%;
    height: 240px;
    
    color: #FFF;
    
    overflow: hidden;
    visibility: hidden;
}

#footer_banner {
    position: fixed;
    bottom: 30px;
    width: 100%;
    height: 200px;
    padding-bottom: 1.5em;
    background: #1B1B1B;
    
    overflow: hidden;
}

#footer_banner > div {
    position: absolute;
    width: 100%;
}

footer h1 {
    font-size: 1.5em;
    padding-top: .5em;
}

.social {
    position: relative;
    display: inline-block; 
    margin-bottom: 5px; 
    border-radius: 6px;
    padding: .5em .25em;
    
    text-decoration: none;
    
    transition: background .5s;
}

.social img {
    display: inline-block;
}

footer p {
    position: relative;
    margin: 0;
    
    color: #fff;
    text-align: center;
}

#gmail:hover {
    background: #D54B3D;
}

#git:hover {
    background: #3B3B3B;
}

#linkedin:hover {
    background: #0274B3;
}

#copyright {
    font-size: 0.8em;
}

/** MISC **/

@media all and (max-width: 500px) {  
    h1 {
        font-size: 1.25em;
    }
    p {
        font-size: 0.9em;
    }
    #tagline {
        font-size: 1.25em;
    }
    .lead p {
        font-size: 0.8em;
    }
    footer h1 {
        padding-top: 0;
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}