html {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

body {
    display: block;
    margin: 0;
    background: #1B1B1B;
    color: #000;
}

h1 {
    font-size: 2em;
}

p {
    font-family: "Helvetica";
}


/** HEADER **/

header {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #1B1B1B;
    box-shadow: 0 3px 3px #000;
    z-index: 99;
}

#menuButton {
    background: #1B1B1B;
    color: #FFF;
    text-align: right;
}

#brand:hover {
    color: #0274B3;
}

#mainNav {}

#mainNav ul {
    padding: 0;
}

#mainNav ul li {
    display: block;
    padding: 15px 0;
    background: #1B1B1B;
    color: #FFF;
    text-decoration: none;
    transition: background-color 0.3s;
}

#mainNav ul li:hover:not(#brand):not(.ignore),
.active {
    background-color: #1284D3;
}

#mainNav ul li:not(.ignore) {
    cursor: pointer;
}

#mainNav ul .navLink {
    padding: 0;
}

#mainNav ul a {
    margin: 0;
    background: transparent;
    color: white;
    line-height: 50px;
    text-decoration: none;
}


/** CONTENT **/

#content {
    position: relative;
    display: block;
    margin: 0;
    padding-top: 50px;
    background: #1284D3;
}

section {
    border-bottom: 5px solid #000;
}

.lead {
    display: block;
    padding: .25em;
    background: inherit;
    /* background: #0274B3; */
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}

.lead span {
    display: block;
    margin: 0;
}

#tagline {
    font-size: 2em;
    font-weight: 400;
    font-family: 'Montserrat';
}

#summary {
    width: 100%;
    background: #3B3B3B;
    padding-top: 1em;
    padding-bottom: .5em;
    color: #fff;
    text-align: center;
}

#summary * {
    display: block;
}

#summary h1 {
    margin-top: 0;
}

#description p {
    margin: 0 .5em;
}

#skills {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    width: 80%;
    max-width: 1000px;
    margin: 1em auto;
    border: 6px solid #2B2B2B;
    padding: 1em;
    background: #303030;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

#skills h1 {
    margin: 0;
    padding-bottom: .5em;
    font-size: 1.5em;
    font-weight: normal;
}

.skillBar {
    display: block;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 3px;
    padding: .25em .5em;
    background: #444;
    opacity: .7;
    transition: opacity .5s, background .5s, color .25s;
}

.skillBar:hover {
    opacity: 1;
}

#csharpBar {
    width: 95%;
}

#csharpBar:hover {
    background: #68217A;
}

#javaBar {
    width: 90%;
}

#javaBar:hover {
    background: #E11F21;
}

#cssBar {
    width: 80%;
}

#cssBar:hover {
    background: #F16529;
}

#jsBar {
    width: 80%;
}

#jsBar:hover {
    background: #FDDA3E;
    color: #000;
}

#pyBar {
    width: 75%;
}

#pyBar:hover {
    background: #4482B4;
}


/** PORTFOLIO **/

#portfolio {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    background: #fff;
    color: #000;
}

#portfolio h1 {
    margin-bottom: 0;
}

#projects {
    width: 70%;
    display: inline-block;
}

.galleryItem {
    display: inline-block;
    width: 45%;
    margin: 0 0.25em 1em 0.25em;
    border-radius: 10px;
    border: 1px solid #000;
    padding: .5em;
    background: #0B0B1B;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    opacity: .75;
    color: #fff;
    cursor: pointer;
    list-style: none;
    text-align: left;
    transition: .5s;
}

@media screen and (max-width: 950px) {
    .galleryItem {
        width: 90%;
    }
}

.galleryItem img {
    display: block;
    width: 90%;
    max-width: 358px;
    border: 1px solid #000;
}

.galleryItem span {
    font-size: 1.2em;
}

.galleryItem p {
    margin: 0;
}

.galItemHover {
    opacity: 1;
    color: #FFF;
}


/** BLOG **/

#posts {
    display: block;
    max-width: 95%;
    margin: auto;
    padding-top: 1em;
    background-color: #fff;
}

#posts li {
    display: inline-block;
    width: 60%;
    margin-top: 0.25em;
    padding: .5em 1.5em;
    color: #000;
    list-style: none;
    text-align: left;
    transition: transform 0.5s ease;
}

#posts a {
    display: block;
    color: inherit;
    text-decoration: none;
}

#posts .title {
    display: block;
    color: inherit;
    font-size: 1.2em;
    font-weight: 700;
}

#posts li:hover {
    transform: translate(15px, 0);
}

#posts li:hover .title {
    color: #1284D3;
}

#posts span {
    display: inline-block;
}

.desc {
    text-decoration: ;
}

.timeStamp {
    display: inline;
    float: right;
    color: #888;
    font-size: 0.9em;
}

#posts>span {
    display: block;
    padding: 1em 0;
    color: #888;
}

#entry {
    display: inline-block;
    max-width: 95%;
    padding-top: 0.5em;
    background: #fff;
    font-family: "Montserrat", sans-serif;
}

#entry>* {
    display: inline-block;
}

#entry h1 {
    margin-bottom: 0;
    font-weight: 700;
    color: #000;
}

#entry p {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
    padding: 0;
    text-align: left;
    text-indent: 2em;
}

#entry a {
    color: #1284D3;
    text-decoration: none;
}

#entry a:hover not(#jumpTop) {
    text-decoration: underline;
}

#entry div {
    display: inline-block;
    margin-bottom: 1em;
}

#entryTimeStamp {
    display: block;
    color: #888;
    font-weight: 400;
    font-size: 0.5em;
}

#entryTitle {
    display: inline-block;
    margin: auto;
    max-width: 80%;
    text-align: left;
}

#jumpTop {
    margin-bottom: 1em;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#jumpTop:hover {
    transform: translate(0, -5px);
}

#entry pre {
    display: inline-block;
    width: 65%;
    padding: 1em;
    border: none;
    background: #f7f7f7;
    text-align: left;
    font-size: 1.1em;
}

.linenums {
    padding: 0 !important;
    counter-reset: line;
}

.linenums li {
    color: #888;
    counter-increment: line;
}

figure {
    display: inline-block !important;
    margin: 0 auto;
    width: 85%;
}

figure>button,
figure>img {
    width: 100%;
    height: inherit !important;
}

figure>button {
    border-color: #fff !important;
    width: 100% !important;
}

.gifffer-play-button {
    top: 1em !important;
    left: 1em !important;
    margin: 0 !important;
    border-width: 3px !important;
    border-style: solid !important;
    border-color: inherit !important;
    border-radius: 60px !important;
    transition: .3s ease;
}

figure>button:hover {
    border-color: #000 !important;
}

.gifffer-play-button div {
    border-left-color: #fff !important;
}

figure>button canvas {
    height: auto !important;
}

figcaption {
    width: 100%;
    height: 0;
    margin: auto;
    font-family: "Helvetica";
    font-size: 0.9em;
    visibility: hidden;
}

.loadimg {
    display: inline-block;
    border: none;
    background: inherit;
    cursor: pointer;
    color: inherit;
    font-weight: 700;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    transition: .2s ease;
}

.loadimg:hover {
    color: #1284D3;
    font-size: 1.05em;
}


/** FOOTER **/

footer {
    position: relative;
    width: 100%;
    height: 240px;
    color: #FFF;
    overflow: hidden;
    visibility: hidden;
}

#footer_banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    padding-bottom: 1.5em;
    background: #000;
    overflow: hidden;
}

#footer_banner>div {
    position: absolute;
    width: 100%;
}

#footer_banner h1 {
    margin-top: 0;
    padding-top: 1em;
}

.social {
    width: 80px;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 6px;
    padding: .5em .25em;
    text-decoration: none;
    transition: background .5s;
}

.social img {
    display: inline-block;
    height: 50px;
}

footer p {
    position: relative;
    margin: 0;
    color: #fff;
    text-align: center;
}

#gmail:hover {
    background: #D54B3D;
}

#git:hover {
    background: #3B3B3B;
}

#linkedin:hover {
    background: #0274B3;
}

#copyright {
    font-size: 0.9em;
}

#copyright a {
    color: inherit;
}


/** MISC **/

@media all and (max-width: 500px) {
    h1 {
        font-size: 1.25em;
    }
    p {
        font-size: 0.9em;
    }
    #tagline {
        font-size: 1.25em;
    }
    .lead p {
        font-size: 0.8em;
    }
    footer h1 {
        padding-top: 0;
    }
    #entry p {
        width: 70%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.visModule:not(:first-child) {
    opacity: 0;
}

.come-in {
    animation: come-in 1.2s ease forwards;
}

@keyframes come-in {
    to {
        opacity: 100;
    }
}


/* Flexnav Base Styles */

.flexnav {
    border: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
    -webkit-transform-style: preserve-3d;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-height: 0;
}

.flexnav.opacity {
    opacity: 0;
}

.flexnav.flexnav-show {
    max-height: 2000px;
    width: 100%;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.flexnav.one-page {
    position: fixed;
    top: 50px;
    right: 5%;
    max-width: 200px;
}

.flexnav li {
    font-size: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.flexnav li a {
    position: relative;
    display: block;
    overflow: hidden;
    color: #222222;
    background: #a6a6a2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.flexnav li ul {
    width: 100%;
}

.flexnav li ul li {
    font-size: 100%;
    position: relative;
    overflow: hidden;
}

.flexnav li ul.flexnav-show li {
    overflow: visible;
}

.flexnav li ul li a {
    display: block;
    background: #b2b2af;
}

.flexnav ul li ul li a {
    background: #bfbfbc;
}

.flexnav ul li ul li ul li a {
    background: #cbcbc9;
}

.flexnav .touch-button {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #acaca1;
    background: rgba(0, 0, 0, 0.075);
    text-align: center;
}

.flexnav .touch-button:hover {
    cursor: pointer;
}

.flexnav .touch-button .navicon {
    position: relative;
    top: 1.4em;
    font-size: 12px;
    color: #666;
}

.menu-button {
    position: relative;
    display: block;
    padding: 1em;
    background: #a6a6a2;
    color: #222222;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-button.one-page {
    position: fixed;
    top: 0;
    right: 5%;
    padding-right: 45px;
}

.menu-button .touch-button {
    background: transparent;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}

.menu-button .touch-button .navicon {
    display: none;
    font-size: 16px;
    position: relative;
    top: 1em;
    color: #666;
}

@media all and (min-width: 850px) {
    body.one-page {
        padding-top: 50px;
    }
    .flexnav {
        overflow: visible;
    }
    .flexnav.opacity {
        opacity: 1;
    }
    .flexnav.one-page {
        top: 0;
        right: auto;
        max-width: 1080px;
    }
    .flexnav li {
        position: relative;
        list-style: none;
        float: left;
        display: block;
        background-color: #a6a6a2;
        overflow: visible;
        width: 20%;
    }
    .flexnav li a {
        border-bottom: none;
    }
    .flexnav li>ul {
        position: absolute;
        top: auto;
        left: 0;
    }
    .flexnav li>ul li {
        width: 100%;
    }
    .flexnav li ul li>ul {
        margin-left: 100%;
        top: 0;
    }
    .flexnav li ul li a {
        border-bottom: none;
    }
    .flexnav li ul.open {
        display: block;
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }
    .flexnav li ul.open li {
        overflow: visible;
        max-height: 100px;
    }
    .flexnav li ul.open ul.open {
        margin-left: 100%;
        top: 0;
    }
    .menu-button {
        display: none;
    }
}

.oldie body.one-page {
    padding-top: 70px;
}

.oldie .flexnav {
    overflow: visible;
}

.oldie .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px;
}

.oldie .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    width: 20%;
    min-height: 50px;
    overflow: visible;
}

.oldie .flexnav li:hover>ul {
    display: block;
    width: 100%;
    overflow: visible;
}

.oldie .flexnav li:hover>ul li {
    width: 100%;
    float: none;
}

.oldie .flexnav li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
    overflow: visible;
}

.oldie .flexnav li>ul {
    background: #acaca1;
    position: absolute;
    top: auto;
    left: 0;
    display: none;
    z-index: 1;
    overflow: visible;
}

.oldie .flexnav li ul li ul {
    top: 0;
}

.oldie .flexnav li ul li a {
    border-bottom: none;
}

.oldie .flexnav li ul.open {
    display: block;
    width: 100%;
    overflow: visible;
}

.oldie .flexnav li ul.open li {
    width: 100%;
}

.oldie .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
    display: block;
    width: 100%;
    overflow: visible;
}

.oldie .flexnav ul li:hover ul {
    margin-left: 100%;
    top: 0;
}

.oldie .menu-button {
    display: none;
}

.oldie.ie7 .flexnav li {
    width: 19.9%;
}
