html{
    height: 100%;
    overflow: hidden;
    
    font-family: "Oxygen", sans-serif;
    text-align: center;
}

body {
    background: #E9EAEA;
    color: #000;
    margin: 0;
}

/*--------------------------------
Styles for the header section 
--------------------------------*/

header {
    background: #2B2B2B;
}

#menuButton {
    color: #FFF;
    background-color: #2B2B2B;
}

#brand:hover {
    color: #09D;
}

#mainNav {
    padding: 0;
}

#mainNav a {
    color: #FFF;
    background-color: #2B2B2B;
    text-decoration: none;
    
    transition: background-color 0.3s;
}

#mainNav a:hover:not(#brand), #mainNav .active {
    background-color: #09D;
}

/*--------------------------------
Styles for the main content section 
--------------------------------*/

#content {
    display: block;
}

#tagline {
    padding: .25em 0;
    background: #FFF;
    
    font-size: 3em;
    text-align: center;
}

#tagline span {
    animation: fadeIn 1s;
}

#banner {
    display: block;
    padding: 5px 0;
    margin-bottom: 1em;
    background: #FFF;
    
    font-size: 2em;
    text-align: center;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

#summary {
    text-align: center;
}

#skills {
    display: inline-block;
    border: 1px solid #555;
    padding: 0 3em 3em;
    background: #FFF;
    
    text-align: left;
}

.skillBar {
    width: 20em;
    padding: 0.25em 0.5em;
    margin: 0em 1em;
    
    background-color: #3BF;
    color: #FFF;
}