{{ define "main" }}
  <main id="main" class="page-content">
    <div class="wrapper">
      {{ .Content }}
      <div class="projects">
        {{ range .Params.Project }}
          <figure class="project-card{{ if .WIP }} wip{{ end}}">
            {{ if .Image }}
              {{ $image := resources.Get .Image }}
              {{ with .Resize }}
                {{ $image = $image.Fit (printf "%s webp" .) }}
              {{ else }}
              {{ $image = $image.Resize (printf "%dx%d webp" $image.Width $image.Height) }}
              {{ end }}
              <div class="project-screenshot">
                <img src="{{ $image.Permalink }}" alt="{{ .Alt }}" width="{{ $image.Width }}" height="{{ $image.Height }}"/>
              </div>
            {{ end }}
            <figcaption class="project-content">
              <h2 class="project-title">{{ .Title }}</h2>
              <p>{{ .Description }}</p>
              <div class="project-tags">
                {{ range .Tags }}
                  <span class="project-tag">{{ . }}</span>
                {{ end }}
              </div>
              <div class="project-links">
                {{ if .SourceURL }}
                  <a class="project-link" href="{{ .SourceURL }}">View Code</a>
                {{ end }}
                {{ if .DemoURL }}
                  <a class="project-link" href="{{ .DemoURL }}">View Demo</a>
                {{ end }}
                {{ if .BlogURL }}
                  <a class="project-link" href="{{ .BlogURL }}">Read Blog Post</a>
                {{ end }}
              </div>
            </figcaption>
          </figure>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}