{{ define "main" }}
  {{ partial "noscript.html" . }}
  <main id="main" class="page-content">
    <div class="wrapper">
      {{ .Content }}
      <div class="projects">
        {{ range .Params.Project }}
          <figure class="project-card">
            {{ $image := resources.Get .Image }}
            {{ with .Resize }}
              {{ $image = . | printf "%s Center" | $image.Fit }}
            {{ end }}
            <div class="project-screenshot">
              <img src="{{ $image.Permalink }}" alt="{{ .Alt }}" width="{{ $image.Width }}" height="{{ $image.Height }}"/>
            </div>
            <figcaption class="project-content">
              <h2 class="project-title">{{ .Title }}</h2>
              <p>{{ .Description }}</p>
              <div class="project-tags">
                {{ range .Tags }}
                  <span class="project-tag">{{ . }}</span>
                {{ end }}
              </div>
              <div class="project-links">
                <a class="project-link" href="{{ .SourceURL }}">View Code</a>
                {{ if .DemoURL }}
                  <a class="project-link" href="{{ .DemoURL }}">View Demo</a>
                {{ end }}
              </div>
            </figcaption>
          </figure>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}